.git
.github
.idea
.vscode
.zed
node_modules
vendor
vendor-bin
bootstrap/cache/*.php
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
public/build
public/hot
public/frankenphp-worker.php
.env
*.sqlite
.mysql-db
.redis
.storage
